<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.FactoryMapper">
	
	<delete id="deleteFactoryById" parameterType="Integer">
        delete from factory where factory_id=#{id}
    </delete>
	
	
	<select id="getFactoryById" parameterType="Integer" resultType="com.example.demo.pojo.Factory">
		select * from factory where factory_id=#{id}
  	</select>


    <update id="updateFactory" parameterType="com.example.demo.pojo.Factory">
        update factory set
        fac_name=#{fac_name},
        client_id=#{client_id},
		username=#{username},
		phone=#{phone},
        fac_location=#{fac_location}
        where factory_id=#{factory_id}
    </update>


    <insert id="insertFactory" parameterType="com.example.demo.pojo.Factory" 
			keyProperty="factory_id" useGeneratedKeys="true">
        insert into factory(fac_name, client_id, fac_location,username,phone)
        values(#{fac_name},#{client_id},#{fac_location},#{username},#{phone})
    </insert>
	
	
	<select id="selectFactoryPage" parameterType="Integer" resultType="com.example.demo.pojo.Factory">
		select * from factory where client_id=#{user_id}
	</select>
	
	

</mapper>